.cv-document {
    width: 595px;
    height: 842px;
    border: 1px;
    border-color: black;
    background-color: antiquewhite;
}
.description {
    display: flex;
    padding: 40px 20px 0 40px;
}
.photo {
    width: 159px;
    border-radius: 5%;
}
.vacancy-name {
    height: 30%;
}
.vacancy {
    font-family: IBM Plex Sans;
}
.info {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.info-thing {
    white-space:nowrap;
}